@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root
{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec; 
  --text-black-900:#000000;
  --text-black-700:#161616;
  --lg-border-color:rgb(255, 115, 0);
  --btn-color: white;
  --background-main:  rgb(79, 183, 228);
  --background-sub:  #e8dfec;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    background: rgb(79, 183, 228);
}
* 
{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
ul
{
    list-style: none;
}
/* side-bar */
.side-bar
{
    width: 75px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f305;
    border-right: 1px solid var(--bg-black-50);
    z-index: 10;
    transition: all 0.3s ease;
}
.side-bar .side-bar-socials
{
    margin-top: 50px;
}
.side-bar .side-bar-socials li
{
    margin-bottom: 5px;
    display: block;
    align-items: center;
}
.side-bar .side-bar-socials li a 
{
    font-size: 25px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid rgb(28, 47, 75);
    color: rgb(28, 47, 75);
    padding: 5px 15px;
}
/* nav-bar */
.nav-bar
{
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}
.nav-bar .menu
{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .logo
{
    text-transform: capitalize;
}
.nav-bar .logo a
{
    color: var(--bg-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}
.nav-bar .logo a span 
{
   font-size: 40px;
}
.nav-bar .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--lg-border-color);
    border-left: 5px solid var(--lg-border-color);
    bottom: 0;
    left: 0;
}
.nav-bar .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--lg-border-color);
    border-right: 5px solid var(--lg-border-color);
    top: 0;
    right: 0;
}
.nav-bar .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    border-radius: 5px;
    background: grey;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.nav-bar .nav-toggler span
{
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background: var(--lg-border-color);
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before,
.nav-bar .nav-toggler span::after
{
    content: '';
    height: inherit;
    width: inherit;
    background: var(--lg-border-color);
    position: absolute;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before
{
    transform: translateY(-6px);
}  
.nav-bar .nav-toggler span::after
{
    transform: translateY(6px);
}
.nav-toggler.active-menu span
{
    transform: rotate(360deg);
    background-color: transparent;
}
.nav-toggler.active-menu span::before
{
    transform: translateY(0) rotate(45deg);
}
.nav-toggler.active-menu span::after
{
    transform: translateY(0) rotate(-45deg);
}
.links
{
    position: fixed;
    top: 0;
    margin-left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 175px;
    background-color: #12002F;
    transition: all 0.4s ease;
    
}
.links.active-menu
{
  margin-left: 0;
  z-index: 1;
}
.links li
{
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  font-size: 24px;
  background-color: #1f103f;
}
.links a 
{
  color: #f2f2fc;
}
.links a:hover
{
  color: var(--lg-border-color);
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.blog-container 
{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

section {
    flex: 0 0 75%;
    min-height: 100vh;
    top: 75px;
}
.container {
    display: block;
    margin: 15px;
    border-radius: 15px;
    background-color: #e8dfec;
}
.blog-heading{
    margin-bottom: 25px;
}
.blog-heading h2 {
    font-size: 45px;
    position: relative;
    display: inline-block;
}
.blog-heading h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 75%;
    background-color: #000000;
}
.blog-heading h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50%;
    background-color: #000000;
}

.blog-content p {
    font-size: 18px;
}
.blog-img{
    height: 500px;
    width: 80%;
    margin:10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.blog-content h3 {
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.blog-content h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 75%;
    background-color: #000000;
}
.blog-content ul li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 45px;
}
.other-blogs {
    flex: 0 0 25%;
    min-height: 100vh;
    top: 75px;
}

.other-blogs-container{
    background-color: #e8dfec;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.other-blogs-heading {
    margin-bottom: 20px;
}
.other-blogs-heading h2 {
    font-size: 30px;
    position: relative;
    display: inline-block;
}
.other-blogs-heading h2::before {
    content: "";
    position: absolute;
    left: 2;
    bottom: 0;
    height: 2px;
    width: 70%;
    background-color: #000000;
}
.similar-read-item {
    display: flex;
    height: 100px;
    flex-direction: row;
    margin-bottom: 10px;
}

.similar-read-item:hover {
    background-color: var(--lg-border-color);
    border-radius: 15px;
}

.similar-title {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}
.similar-title p {
    margin-left: 5px;
    font-size: 25px;
}
.similar-img {
    flex: 0 0 30%;
    background-color: rgb(51, 255, 0);
    display: block;
    border: 2px solid red;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 75px;
    padding: 15px;
}

.contact-info,
.newsletter {
    flex-basis: 50%;
}
.contact-info h3,
.newsletter h3 {
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.contact-info h3::before, 
.newsletter h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 75%;
    background-color: #000000;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: var(--text-black-900);
    font-size: 20px;
}
.newsletter .newsletter-form input {
    width: 70%;
    padding: 10px;
    outline: 0;
    border: 2px solid var(--lg-border-color);
    border-radius: 8px;
    color: var(--bg-black-100);
    background: transparent;
    font-size: 16px;
    margin-bottom: 10px;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--btn-color);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--lg-border-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
    border: 2px solid var(--lg-border-color);
}

.rights-reserved {
    text-align: center;
    margin-top: 20px;
}

.rights-reserved p {
    font-size: 20px;
}