#main{
  background-image: url(../images/landing.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#main h1{
  font-size: 70px;
}

.btn{
  display: inline-block;
  background: purple;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
}
  
.btn:hover {
  opacity: 0.9;
}