@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec; 
    --text-black-900:#000000;
    --text-black-700:#161616;
    --lg-border-color:rgb(255, 115, 0);
    --btn-color: white;
    --background-main:  rgb(79, 183, 228);
    --background-sub:  #e8dfec;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.main-content
{
    left: 75px;
    top: 75px;
}
ul
{
    list-style: none;
}
.section
{
    min-height: 100vh;
    display: block;
    opacity: 1;
    left: 75px;
    top: 75px;
    background: rgb(79, 183, 228); /* to remove */
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--btn-color);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--lg-border-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
    border: 2px solid var(--lg-border-color);
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1400px;
    width: 100%;
    margin: auto
}
.section .container
{
    padding-top: 90px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--lg-border-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--lg-border-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
/* side-bar */
.side-bar
{
    width: 75px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f305;
    border-right: 1px solid var(--bg-black-50);
    z-index: 10;
    transition: all 0.3s ease;
}
.side-bar .side-bar-socials
{
    margin-top: 50px;
}
.side-bar .side-bar-socials li
{
    margin-bottom: 5px;
    display: block;
    align-items: center;
}
.side-bar .side-bar-socials li a 
{
    font-size: 25px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid rgb(28, 47, 75);
    color: rgb(28, 47, 75);
    padding: 5px 15px;
}
/* nav-bar */
.nav-bar
{
    left: 75px;
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 10;
}
.nav-bar .menu
{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .logo
{
    text-transform: capitalize;
}
.nav-bar .logo a
{
    color: var(--bg-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}
.nav-bar .logo a span 
{
   font-size: 40px;
}
.nav-bar .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--lg-border-color);
    border-left: 5px solid var(--lg-border-color);
    bottom: 0;
    left: 0;
}
.nav-bar .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--lg-border-color);
    border-right: 5px solid var(--lg-border-color);
    top: 0;
    right: 0;
}
.nav-bar .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    border-radius: 5px;
    background: grey;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.nav-bar .nav-toggler span
{
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background: var(--lg-border-color);
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before,
.nav-bar .nav-toggler span::after
{
    content: '';
    height: inherit;
    width: inherit;
    background: var(--lg-border-color);
    position: absolute;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before
{
    transform: translateY(-6px);
}  
.nav-bar .nav-toggler span::after
{
    transform: translateY(6px);
}
.nav-toggler.active-menu span
{
    transform: rotate(360deg);
    background-color: transparent;
}
.nav-toggler.active-menu span::before
{
    transform: translateY(0) rotate(45deg);
}
.nav-toggler.active-menu span::after
{
    transform: translateY(0) rotate(-45deg);
}
.links
{
    position: fixed;
    top: 0;
    margin-left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 175px;
    background-color: #12002F;
    transition: all 0.4s ease;
    
}
.links.active-menu
{
    margin-left: 75px;
    z-index: 1;
}
.links li
{
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    font-size: 24px;
    background-color: #1f103f;
}
.links a 
{
    color: #f2f2fc;
}
.links a:hover
{
    color: var(--lg-border-color);
}
/* Home Section */
.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    top: 0;
}
.home .home-info 
{
    flex: 0 0 60%;
    max-width: 60%;
}
.home h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}
.home .home-info .hello i
{
    animation-name: waving-hand;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes waving-hand
{
    0%
    {
        transform: rotate(0.0deg);
    }
    10%
    {
        transform: rotate(14.0deg);
    }
    20%
    {
        transform: rotate(-8.0deg);
    }
    30%
    {
        transform: rotate(14.0deg);
    }
    40%
    {
        transform: rotate(-4.0deg);
    }
    50%
    {
        transform: rotate(10.0deg);
    }
    60%
    {
        transform: rotate(0.0deg);
    }
    100%
    {
        transform: rotate(0.0deg);
    }
}
.home .home-info h3.intro
{
    font-size: 35px;
    margin: 8px 0;
}
.home .home-info h3.intro span
{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 700;
    color: var(--lg-border-color);
}
.home .home-info h3.profession
{
    font-size: 30px;
    margin: 8px 0;
}
.home .home-info h3.profession span
{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 600;
    color: var(--lg-border-color);
}
.home .home-info p
{
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home .home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--lg-border-color);
    border-right: 10px solid var(--lg-border-color);
    right: 8px;
    bottom: -40px;
}
.home .home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--lg-border-color);
    border-left: 10px solid var(--lg-border-color);
    left: -8px;
    top: -40px;
}
.home .home-img img
{
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
/* About Section */
.about
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    top: 0;
}
.about .container
{
    padding-bottom: 40px;
}
.about .work-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    background: blue;
}
.about .work-img.modalClass{
    display: none;
}
.about .work-info 
{
    flex: 0 0 60%;
    max-width: 60%;
}
.about .work-info.modalClass{
    display: none;
}
.about .work-info .about-text
{
    margin-bottom: 20px;
    position: relative;
}
.about .work-info .about-text p
{
    font-size: 20px;
    color: var(--text-black-700);
    line-height: 25px;
}
.about .work-info .work-inner-items
{
    border-top: 1px solid var(--lg-border-color);
    border-bottom: 1px solid var(--lg-border-color);
    padding: 20px 20px;
    text-align: center;
}
.about .work-info .work-item
{
    flex: 0 0 35%;
}
.about .work-info .work-item .duration p
{
    color: var(--text-black-700);
    font-size: 18px;
}
.about .work-info .work-item .place h4
{
    font-size: 20px;
}
.about .work-info .work-title
{
    flex: 0 0 50%;
    align-items: center;
}
.about .work-info .work-title p
{
    color: var(--text-black-700);
    font-size: 22px;
    font-weight: bold;
}
.about .work-info .work-description
{
    flex: 0 0 15%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.about .work-info .work-description i
{
    font-size: 24px;
}
.about .work-info .work-description:hover
{
    transform: translateY(10px);
    font-size: 24px;
}
.about .popup-outer
{
    position: absolute;
    height: 400px;
    width: 80%;
    left: 175px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.about .popup-outer.show
{
    opacity: 1;
    visibility: visible;
}
.about .popup-box
{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 400px;
    top: -175px;
    border-radius: 25px;
}
.about .popup-box .popup-box-close
{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
    color: var(--lg-border-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.about .popup-box .popup-box-close:hover
{
    font-size: 24px;
    transform: translateY(10px);
}
.about .popup-title,
.about .popup-description
{
    text-align: center;
}
.about .popup-title
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.about .popup-description
{
    font-size: 18px;
    font-weight: 400;
    padding: 0 40px;
    margin-bottom: 15px;
}
.about .popup-highlights
{
    row-gap: 15px;
}
.about .highlight
{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.about .highlight .fa-circle
{
    color: var(--lg-border-color);
    font-size: 18px;
}
.about .highlight .highlight-info
{
    font-size: 18px;
    font-weight: 300;
}
/* Services Section */
.service .container
{
    padding-bottom: 40px;
}
.service .service-text
{
    flex: 0, 0, 100%;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--text-black-700);
}
.service .service-item
{
    margin-bottom: 20px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: var(--bg-black-50);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
} 
.service .service-item .service-item-inner .icon .fa 
{
    font-size: 40px;
    line-height: 60px;
    color: var(--lg-border-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--lg-border-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    margin-bottom: 10px;
}
.service .service-item .service-item-inner .service-btn
{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    color: var(--btn-color);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--lg-border-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .service-btn:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
    border: 2px solid var(--lg-border-color);
}
/* portfolio */
.project
{
    padding: 35px;
    justify-content: center;
    align-items: center;
}
.project-slider
{
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    position: relative;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: all 0.3s;
}
.project-slider
{
    display: none;
}
.project-slider.active
{
    display: block;
}
.project .prev,
.project .next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--btn-color);
    background: var(--lg-border-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
.project .prev:hover,
.project .next:hover
{
    background: var(--btn-color);
    color: var(--lg-border-color);
}
.project .prev{
    left: 20px;
}
.project .next{
    right: 20px;
}
.project-items
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-img
{
    width: 300px;
    flex-shrink: 0;
    height: 400px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
.project-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s;
    animation: slideImage .6s linear ;
}
@keyframes slideImage
{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}
.project-content
{
    margin-top: -80px;
    text-align: left;
    animation: slideContent .4s linear .6s backwards;
}
@keyframes slideContent
{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
.project-date
{
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}
.project-name
{
    font-size: 24px;
    font-weight: 700;
    color: var(--text-black-900);
    margin-bottom: 20px
}
.project-text
{
    color: var(--text-black-700);
    font-size: 18;
    margin-bottom: 30px;
    line-height: 1.5em;
}
.testimonials-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.testimonials-title h3
{
    font-size: 24px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}
.testimonials-title h3::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--lg-border-color);
    position: absolute;
    top: 100%;
    left: 0;
} 
.testimonial
{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials-slider
{
    width: 90%;
    margin: auto;
    max-width: 1300px;
}
.testimonial-text
{
    background: var(--lg-border-color);
    color: var(--btn-color);
    width: 100%;
    height: 350px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.user-text
{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.user-text.active
{
    display: block;
}
.user-text .fa-solid
{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    animation: userquote 0.4s linear 0.6s backwards;
}
@keyframes userquote 
{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }    
}
.user-text p
{
    display: block;
    font-size: 20px;
    font-weight: 300px;
    animation: userText 0.4s linear 0.6s backwards;
}
@keyframes userText 
{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }    
}
.user-text span
{
    display: block;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 500;
    text-transform: uppercase;
    animation: userName 0.4s linear 0.6s backwards;
}
@keyframes userName 
{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }    
}
.testimonial-img
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usr-img
{
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.usr-img img
{
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.usr-img.active
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--lg-border-color);
}
/* Blogs */
.blogs .container
{
    padding-bottom: 40px;
}
.blogs .blogs-text
{
    flex: 0, 0, 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.blogs .blogs-text p
{
    color: var(--text-black-700);
    font-size: 20px;
}
.blogs .blogs-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.blogs .blogs-item .blogs-item-inner
{
    background-color: var(--bg-black-100);
    border: var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    transition: all 0.3s ease;
}
.blogs .blogs-item .blogs-item-inner:hover
{
    box-shadow: 0 0 30px rgba(48, 46, 77, 0.15);
}
.blogs .blogs-item .blogs-item-inner h4
{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.blogs .blogs-item .blogs-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    margin-bottom: 15px;
}
.blogs .blogs-item .blogs-item-inner .full-post
{
    color: var(--btn-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 20px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--lg-border-color);
    transition: all 0.3s ease;
    margin-bottom: 15px;
}
.blogs .blogs-item .blogs-item-inner .full-post:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
    border: 2px solid var(--lg-border-color);
}
/* Contact */
.contact
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    top: 0;
}
.contact .contact-content 
{
    flex: 0 0 60%;
    max-width: 60%;
}
.contact .contact-content .input-container
{
    margin-bottom: 30px;
    position: relative;
}
.contact .contact-content input, textarea
{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid var(--lg-border-color);
    border-radius: 8px;
    color: var(--bg-black-100);
    background: transparent;
    font-size: 16px;
}
.contact .contact-content label
{
    height: 100%;
    position: absolute;
    left: 15px;
    top: 0;
    padding: 10px;
    color: var(--text-black-700);
    cursor: text;
    transition: 0.3s;
}
.contact .contact-content input:focus~label,
.contact .contact-content input:valid~label,
.contact .contact-content textarea:focus~label,
.contact .contact-content textarea:valid~label
{
    top: -35px;
    font-size: 14px;
}
.contact .contact-content button
{
    padding: 10px 5px;
    border-radius: 8px;
    border: none;
    background-color: var(--lg-border-color);
    color: var(--btn-color);
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.contact .contact-content button:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
}
.contact .contact-content .error
{
    color: red;
}
.contact .contact-content .error-border
{
    border-bottom: 1px solid red;
}
.contact .contact-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    background-color: yellow;
}

.faq-section {
    background-color: var(--background-main);
    padding: 50px 0;
}
  
.faq-section .section-title {
    margin-bottom: 50px;
    text-align: center;
}

.faq-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--text-black-900);
    position: relative;
}

.faq-section h2::before {
    content: '';
    height: 4px;
    width: 70px;
    background-color: var(--lg-border-color);
    position: absolute;
    bottom: -10px;
    left: 45%;
    transform: translateX(-50%);
}

.faq-section h2::after {
    content: '';
    height: 4px;
    width: 35px;
    background-color: var(--lg-border-color);
    position: absolute;
    bottom: -20px;
    left: 43.2%;
}
  
.faq-container {
    max-width: 80%;
    margin: 0 auto;
}

.faq-item {
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
.faq-item:hover {
    border: 2px solid var(--color-3);
}
  
.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.faq-question {
    font-size: 36px;
    margin-right: 10px;
    width: 85%;
}
  
.faq-toggle {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
  
.faq-toggle::before {
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform-origin: center center;
    font-size: 34px;
}

.faq-toggle.active::before {
    content: "-";
}
  
.faq-answer {
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: max-height 0.5s ease-out;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-sub);
    font-size: 22px;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.faq-answer.active {
    max-height: 200px;
    transition: max-height 0.5s ease-in;
    display: inline;
}

footer{
    background: rgb(79, 183, 228);
}
.rights-reserved{
    font-size: 20px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 75px;
    padding: 15px;
}

.social-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-links li {
    margin-right: 10px;
    font-size: 35px;
    margin: 10px;
}

.social-links li a {
    color: var(--text-black-900);
}