@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root
{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec; 
  --text-black-900:#000000;
  --text-black-700:#161616;
  --lg-border-color:rgb(255, 115, 0);
  --btn-color: white;
  --background-main:  rgb(79, 183, 228);
  --background-sub:  #e8dfec;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    background: rgb(79, 183, 228);
}
* 
{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
ul
{
    list-style: none;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
/* nav-bar */
.nav-bar
{
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}
.nav-bar .menu
{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .logo
{
    text-transform: capitalize;
}
.nav-bar .logo a
{
    color: var(--bg-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}
.nav-bar .logo a span 
{
   font-size: 40px;
}
.nav-bar .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--lg-border-color);
    border-left: 5px solid var(--lg-border-color);
    bottom: 0;
    left: 0;
}
.nav-bar .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--lg-border-color);
    border-right: 5px solid var(--lg-border-color);
    top: 0;
    right: 0;
}
.nav-bar .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    border-radius: 5px;
    background: grey;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.nav-bar .nav-toggler span
{
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background: var(--lg-border-color);
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before,
.nav-bar .nav-toggler span::after
{
    content: '';
    height: inherit;
    width: inherit;
    background: var(--lg-border-color);
    position: absolute;
    transition: all 0.5s ease;
}
.nav-bar .nav-toggler span::before
{
    transform: translateY(-6px);
}  
.nav-bar .nav-toggler span::after
{
    transform: translateY(6px);
}
.nav-toggler.active-menu span
{
    transform: rotate(360deg);
    background-color: transparent;
}
.nav-toggler.active-menu span::before
{
    transform: translateY(0) rotate(45deg);
}
.nav-toggler.active-menu span::after
{
    transform: translateY(0) rotate(-45deg);
}
.links
{
    position: fixed;
    top: 0;
    margin-left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 175px;
    background-color: #12002F;
    transition: all 0.4s ease;
    
}
.links.active-menu
{
  margin-left: 0;
  z-index: 1;
}
.links li
{
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  font-size: 24px;
  background-color: #1f103f;
}
.links a 
{
  color: #f2f2fc;
}
.links a:hover
{
  color: var(--lg-border-color);
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.btn
{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    color: var(--btn-color);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--lg-border-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
    border: 2px solid var(--lg-border-color);
    cursor: pointer;
}
/* Overview */
.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.overview-container {
    width: 90%;
}

.section-title {
    position: relative;
    margin-bottom: 20px;
}

.section-title h2 {
    display: inline-block;
    font-size: 34px;
}

.section-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 7%;
    height: 2px;
    background-color: var(--text-black-900);
}

.overview-content p {
    font-size: 20px;
}

.services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.services-container {
    width: 90%;
    position: relative;
}
.services-container.blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.services-container .description  {
    margin-bottom: 15px;
}
.services-container .description p {
    font-size: 20px;
}

.services-container .sub-services {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
    gap: 16px;
    margin-bottom: 48px;
}

.sub-services .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: var(--bg-black-50);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.sub-services .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.sub-services .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    margin-bottom: 10px;
} 


.service-description {
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.service-description .preview{
    display: none;
    background: var(--background-sub);
    border-radius: 15px;
    width: 80%;
    max-height: 1000px;
    overflow: auto;
    position: relative;
}
.service-description .preview.showcase{
    display: inline-block;
}
.preview .closePreview {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--lg-border-color);
    font-size: 18px;
    transition: font-size 0.2s ease;
}
.preview .closePreview:hover {
    font-size: 24px;
}
.pop-up-title{
    position: relative;
    margin-bottom: 15px;
}
.pop-up-title h2 {
    font-size: 30px;
}
.preview h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 15%;
    height: 2px;
    background-color: var(--text-black-900);
}
.pop-up-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.pop-up-content p {
    font-size: 24px;
}
.pop-up-content h3 {
    font-size: 26px;
    margin:10px 0;
} 
.sample-projetcs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.samples-container {
    width: 90%;
}

.section-description p {
    font-size: 20px;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    width:80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.project-sample {
    display: flex;
    background: var(--bg-black-100);
    margin: 10px 0;
    border-radius: 15px;
}
.proj-icon {
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj-icon i {
    font-size: 100px;
}
.proj-content {
    flex-basis: 66.66%;
    display: flex;
    flex-direction: column;    
}
.proj-content .proj-title h2 {
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.proj-content .proj-title h2::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: var(--text-black-900); 
}
.proj-content .proj-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.proj-content .proj-description p {
    font-size: 20px;
}
.proj-content .proj-button {
    margin-bottom: 10px;
}
.technology {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.technology-container {
    width: 90%;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #ffff;
}
.tool-logo {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.tool-logo img {
    width: 100%;
    height: auto;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.contact-section {
    width: 90%;
    margin-top: 20px;
}

.contact-section p {
    font-size: 40px;
    color: var(--text-black-900);
}
.contact-info {
    display: flex;
    margin-top: 30px;
}
.contact-img {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-img img {
    width: 80%;
    height: 600px;
    object-fit: contain;
}
.form-contact {
    flex-basis: 60%;
}
.form-contact .input-container
{
    margin-bottom: 30px;
    position: relative;
}
.form-contact input, textarea
{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid var(--lg-border-color);
    border-radius: 8px;
    color: var(--bg-black-100);
    background: transparent;
    font-size: 16px;
}
.form-contact label
{
    height: 100%;
    position: absolute;
    left: 15px;
    top: 0;
    padding: 10px;
    color: var(--text-black-700);
    cursor: text;
    transition: 0.3s;
}
.form-contact input:focus~label,
.form-contact input:valid~label,
.form-contact textarea:focus~label,
.form-contact textarea:valid~label
{
    top: -35px;
    font-size: 14px;
}
.form-contact button
{
    padding: 10px 5px;
    border-radius: 8px;
    border: none;
    background-color: var(--lg-border-color);
    color: var(--btn-color);
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.form-contact button:hover
{
    transform: scale(1.15);
    color: var(--lg-border-color);
    background: var(--btn-color);
}
.form-contact .error
{
    color: red;
}
.form-contact .error-border
{
    border-bottom: 1px solid red;
}
footer{
    background: rgb(79, 183, 228);
}
.rights-reserved{
    font-size: 20px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 75px;
    padding: 15px;
}

.social-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-links li {
    margin-right: 10px;
    font-size: 35px;
    margin: 10px;
}

.social-links li a {
    color: var(--text-black-900);
}

@media (max-width: 900px) {
    .services-container .sub-services{
        grid-template-columns: repeat(2,minmax(50%, 1fr));
    }

}

@media (max-width: 750px) {
    .proj-icon {
        display: none; 
    }

    .proj-content {
        flex-basis: 100%; 
    }
    .contact-info {
        flex-direction: column; 
    }

    .contact-img {
        flex-basis: auto; 
        margin-bottom: 20px; 
    }
    .section-title h2 {
        font-size: 26px;
    }
    .overview-content p {
        font-size: 17px;
    }
    .services-container .description p {
        font-size: 17px;
    }
    .sub-services .service-item .service-item-inner h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sub-services .service-item .service-item-inner p {
        font-size: 14px;
    }
    .section-description p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .proj-content .proj-title h2 {
        font-size: 20px;
    }
    .proj-content .proj-description p {
        font-size: 17px;
    }
    .contact-section p {
        font-size: 20px;
    }
}
@media (max-width: 570px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .rights-reserved{
        font-size: 18px;
    }
    .social-links li {
        margin-right: 10px;
        font-size: 25px;
    }
}
@media (max-width: 450px) {
    .services-container .sub-services{
        grid-template-columns: repeat(1,minmax(50%, 1fr));
    }
}
